<!DOCTYPE html>
<html lang="en">
<%- include('partials/header.ejs') %>
    <title>Home</title>

    <body>
        <%- include("partials/navbar.ejs") %>
            <h1>Please login to add notes</h1>
            <!-- Script partial -->
            <%- include("partials/script.ejs") %>
    </body>

</html>